<article id="article_technotes">
  <div class="container mt-4">
    <div class="row">

      <div class="col-md-5">
        <%= image_tag @portfolio.image, class: "img-thumbnail" %>
        <p><%=  simple_format @portfolio.description %></p>
      </div>

      <div class="col-md-7">
        <h2><%= @portfolio.title %></h2>
        <hr>
        <p class="lead"><%= @portfolio.body.html_safe %></p>
      </div>

    </div>
  </div>
</article>