<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="overlay"></div>
    <h1 class="display-4 text-center">WELCOME TO Vita's Blog</h1>
  </div>
</header>

<section id="section_about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-center">ABOUT</p>
      </div>
      <div class="col-md-6">
        <p>
          在因緣際會之下接觸了Ruby，便覺得這個程式語言很有趣，而後又接觸了Rails 之後才發現，透過這兩者可以讓開發變得這麼有趣。就算是半路出家的我，也深深感受到開發的成就感及樂趣，我樂於學習及持續進步，希望有朝一日能成為同時精通前端設計和後端開發的工程師，因此正朝著全端開發的路上前進中。
        </p>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://www.cakeresume.com/vitata710" target="_blank" class="text-white"><i class="fa fa-file"></i>Link Cake Resume</a>
      </div>
    </div>
  </div>
</section>

<section id="section_education">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-center">EDUCATION</p>
      </div>
      <div class="col-md-6">
        <h6>健行科技大學</h6>
        <p>電子工程所</p>
      </div>
      <div class="col-md-3">
        <p>2007/09 - 2009/06</p>
      </div>
    </div>
    <hr>
  </div>
</section>

<section id="section_work">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-center">WORK</p>
      </div>
      <div class="col-md-6">
        <h6>華聚產業共同標準推動基金會@經理</h6>
        <p>董事會：董事會、功能性委員會議程、議事錄資料彙整。</p>
        <h6 class="mt-4">兩岸企業家峰會@秘書</h6>
        <ul>
          <li>行政總務：辦公室總務、器材管理、各類備品訂購、郵局信件寄送。</li>
          <li>各項活動支援：參與協助全體性活動事務。</li>
          <li>會員聯絡：與會員們溝通協調各項事務推動。</li>
        </ul>
      </div>
      <div class="col-md-3">
        <p>2017 年 9 月 - 2018 年 4 月</p>
        <p class="mt-5">2014 年 2 月 - 2017 年 9 月</p>
      </div>
    </div>
  </div>
</section>

<section id="section_skills">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-center">SKILLS</p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p>HTML / CSS</p>
            <div class="block">
              <div class="block1"></div>
              <p>70/100</p>
            </div>
          </div>
          <div class="col-md-4">
            <p>Bootstrap 4</p>
            <div class="block">
              <div class="block1"></div>
              <p>70/100</p>
            </div>
          </div>
          <div class="col-md-4">
            <p>JavaScript</p>
            <div class="block">
              <div class="block2"></div>
              <p>50/100</p>
            </div>
          </div>
          <div class="col-md-4">
            <p>JQuery</p>
            <div class="block">
              <div class="block2"></div>
              <p>50/100</p>
            </div>
          </div>
          <div class="col-md-4">
            <p>RWD</p>
            <div class="block">
              <div class="block2"></div>
              <p>50/100</p>
            </div>
          </div>
          <div class="col-md-4">
            <p>Ruby</p>
            <div class="block">
              <div class="block2"></div>
              <p>50/100</p>
            </div>
          </div>
          <div class="col-md-4">
            <p>Rails</p>
            <div class="block">
              <div class="block1"></div>
              <p>70/100</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section_contact">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="text-center">CONTACT</p>
      </div>
      <div class="col-md-6">
        <h6>Email</h6>
        <p>vitata710@gmail.com</p>
        <h6 class="mt-4">Phone</h6>
        <p>0919-561-596</p>
      </div>
      <div class="col-md-3">
        <p>SOCIAL LINKS</p>
        <a href="https://github.com/showlovezz" target="_blank"><i class="fab fa-github-alt"></i></a>
        <a href="https://www.facebook.com/shela.hsieh" target="_blank"><i class="fab fa-facebook-square ml-3"></i></a>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy; 2018 By Vita Blog | All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>