.muted {
  color: #222 !important;
}

.muted:hover {
  color: white !important;
  transition: 0.5s;
}

.fa {
  margin-right: 5px;
}

.alert {
  width: 100%
}

nav.navbar {
  background-color: #4F728E;
}